<%= form_for(@post) do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, :required => true %>
  </div>
  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body, :required => true %>
  </div>
  <div>
    <%= f.submit "Create Post" %>
  </div>
<% end %>